* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-image: url(../images/fotoperfumes3.jpg);
  background-size: cover;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body header {
  background-color: #ff13a7;
  z-index: 100;
}
body header #navBar {
  display: flex;
  justify-content: space-between;
}
body header #navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
body header #navBar ul li {
  padding: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body header #navBar img {
  width: 120px;
  border-radius: 100%;
  border: solid black 2px;
  padding: 5px;
  margin: 10px;
}

.form-select {
  width: 30vw;
  color: #ff13a7;
}

.titleIndex h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.25em;
  text-shadow: #ff13a7 5px 2px 5px;
  font-size: 40px;
  margin: 20px;
}
.titleIndex h2 {
  text-shadow: whitesmoke 2px 2px 5px;
  font-size: 25px;
  letter-spacing: -0.05em;
  font-family: "Cedarville Cursive", cursive;
}

.titleEnvios h1,
.titleEnvios h2,
.titleEnvios h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  margin: 10px;
  text-shadow: #ff13a7 2px 2px 2px;
}
.titleEnvios h2 {
  font-size: 25px;
  text-shadow: whitesmoke 2px 2px 2px;
}
.titleEnvios h3 {
  color: white;
}

footer {
  height: 90px;
  background-color: #ff13a7;
  margin-top: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
footer .logosFooter {
  margin-right: 30px;
}
footer .logosFooter img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

#mainFemenino h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  margin: 10px;
  text-shadow: #ff13a7 2px 2px 2px;
  letter-spacing: 0.1em;
}

#tablaStockFemenino {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  grid-template-areas: "pacoRabanneO pacoRabanneLM pacoRabanneXSL pacoRabanneXS pacoRabannePURE diorJ diorMD azzaro" "muglerAN muglerAL miyake lancome tommy yves dolceGabbana moschino" "givenchyL givenchyAD calvinKleinES calvinKleinET calvinKleinOS calvinKleinONE kenzo jesusDelPozo" "armaniMW armaniCODE armaniSI ch212CLA chSEXY chVIP chROSE chGG";
  margin: 20px;
}
#tablaStockFemenino h2 {
  background-color: #ff13a7;
  padding: 5px;
  border: #000000 solid 2px;
  font-size: 15px;
  height: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#tablaStockFemenino h3 {
  background-color: #ffffff;
  padding: 5px;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.caja {
  background-color: #ffffff;
  border: #000000 solid 2px;
  padding: 10px;
  width: 150px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pacoRabanneO {
  grid-area: pacoRabanneO;
}

.pacoRabanneLM {
  grid-area: pacoRabanneLM;
}

.pacoRabanneXSL {
  grid-area: pacoRabanneXSL;
}

.pacoRabannXS {
  grid-area: pacoRabanneXS;
}

.pacoRabannePURE {
  grid-area: pacoRabannePURE;
}

.diorJ {
  grid-area: diorJ;
}

.diorMD {
  grid-area: diorMD;
}

.azzaro {
  grid-area: azzaro;
}

.muglerAN {
  grid-area: muglerAN;
}

.muglerAL {
  grid-area: muglerAL;
}

.miyake {
  grid-area: miyake;
}

.lancome {
  grid-area: lancome;
}

.tommy {
  grid-area: tommy;
}

.yves {
  grid-area: yves;
}

.dolceGabbana {
  grid-area: dolceGabbana;
}

.moschino {
  grid-area: moschino;
}

.givenchyL {
  grid-area: givenchyL;
}

.givenchyAD {
  grid-area: givenchyAD;
}

.calvinKleinES {
  grid-area: calvinKleinES;
}

.calvinKleinET {
  grid-area: calvinKleinET;
}

.calvinKleinOS {
  grid-area: calvinKleinOS;
}

.calvinKleinONE {
  grid-area: calvinKleinONE;
}

.kenzo {
  grid-area: kenzo;
}
.kenzo img {
  height: 120px;
  width: 80px;
}

.jesusDelPozo {
  grid-area: jesusDelPozo;
}

.armaniMW {
  grid-area: armaniMW;
}

.armaniCODE {
  grid-area: armaniCODE;
}

.armaniSI {
  grid-area: armaniSI;
}

.chGG {
  grid-area: chGG;
}

.ch212CLA {
  grid-area: ch212CLA;
}

.chVIP {
  grid-area: chVIP;
}

.chROSE {
  grid-area: chROSE;
}

.chSEXY {
  grid-area: chSEXY;
}

.imgCaja {
  width: 120px;
  height: 130px;
}

/*# sourceMappingURL=style.css.map */
