.titleEnvios h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  margin: 10px;
  text-shadow: #ff13a7 2px 2px 2px;
}
.titleEnvios h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-shadow: whitesmoke 2px 2px 2px;
}

.centroEnvios {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  text-align: center;
}
.centroEnvios .imgEnvios {
  display: flex;
}
.centroEnvios .imgEnvios .logoEnvios {
  width: 250px;
  margin: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 50px;
  height: 230px;
}
.centroEnvios h3 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.centroEnvios .calcularEnvio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.centroEnvios .calcularEnvio #selectEnvios {
  width: 250px;
}
.centroEnvios .calcularEnvio .btnEnvios {
  font-size: 15px;
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #000000;
  color: white;
  margin: 10px;
  height: 40px;
  border-radius: 10px;
}
.centroEnvios .calcularEnvio .btnEnvios:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#cardZona {
  margin-top: 10px;
  background-color: white;
  padding: 1.3rem;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
#cardZona input {
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#cardZona h5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.btnCantKm {
  font-size: 15px;
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #000000;
  color: white;
  margin: 10px;
  height: 40px;
  border-radius: 10px;
}

#arrayPrecio {
  background-color: white;
  border-radius: 20px;
  width: 280px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 10px;
}
#arrayPrecio #h5Precio {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}

footer {
  height: 90px;
  background-color: #ff13a7;
  margin-top: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
footer .logosFooter {
  margin-right: 30px;
}
footer .logosFooter img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-image: url(../images/fotoperfumes3.jpg);
  background-size: cover;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body header {
  background-color: #ff13a7;
  z-index: 100;
}
body header #navBar {
  display: flex;
  justify-content: space-between;
}
body header #navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
body header #navBar ul li {
  padding: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body header #navBar ul li .iconoCarritoImg {
  width: 40px;
  height: 40px;
  border-radius: 0;
  border: none;
  margin: 0;
}
body header #navBar ul li .iconoCarritoImg:hover {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
body header #navBar ul a:hover {
  color: #ffffff;
  text-shadow: #000000 5px 5px 5px;
  transition: 0.5s;
}
body header #navBar ul #contadorCarrito {
  position: absolute;
  background-color: #ffffff;
  border: solid 1px black;
  width: 25px;
  border-radius: 100%;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  margin: 0;
}
body header #navBar img {
  width: 120px;
  border-radius: 100%;
  border: solid black 2px;
  padding: 5px;
  margin: 10px;
}

.form-select {
  width: 30vw;
  color: #ff13a7;
}

.titleIndex h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.25em;
  text-shadow: #ff13a7 5px 2px 5px;
  font-size: 40px;
  margin: 20px;
}
.titleIndex h2 {
  text-shadow: whitesmoke 2px 2px 5px;
  font-size: 25px;
  letter-spacing: -0.05em;
  font-family: "Cedarville Cursive", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: black;
}

#mainContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mainContacto h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  margin: 10px;
  text-shadow: #ff13a7 2px 2px 2px;
  letter-spacing: 0.1em;
}
#mainContacto h2 {
  text-shadow: whitesmoke 2px 2px 5px;
  font-size: 25px;
  letter-spacing: -0.05em;
  font-family: "Cedarville Cursive", cursive;
}
#mainContacto .redesSociales {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#mainContacto .redesSociales p {
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 95px;
}
#mainContacto .redesSociales img {
  width: 70px;
  height: 70px;
  margin: 10px;
}
#mainContacto .redesSociales .wp,
#mainContacto .redesSociales .ig {
  width: 400px;
  padding: 20px;
  display: flex;
  font-size: 15px;
}
#mainContacto .redesSociales .wp input,
#mainContacto .redesSociales .ig input {
  background-color: #000000;
  color: white;
  padding: 10px;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 10px;
}
#mainContacto .redesSociales .wp input:hover,
#mainContacto .redesSociales .ig input:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
#mainContacto #formularioContactoId {
  display: flex;
  width: 800px;
  flex-direction: column;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainContacto #formularioContactoId .cajaMsj {
  background-color: #ff13a7;
  border: #000000 solid 2px;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainContacto #formularioContactoId .cajaMsj .datosPersonales {
  display: flex;
  justify-content: center;
  width: 800px;
}
#mainContacto #formularioContactoId .cajaMsj .datosPersonales #email {
  width: 300px;
}
#mainContacto #formularioContactoId .cajaMsj .datosPersonales .inputDiv .logoCajaMsj {
  width: 30px;
}
#mainContacto #formularioContactoId .cajaMsj .datosPersonales .inputDiv h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#mainContacto #formularioContactoId .cajaMsj .datosPersonales .inputDiv .inputContacto {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}
#mainContacto #formularioContactoId .cajaMsj .contactoSelect {
  font-weight: bold;
  background-color: white;
  width: 300px;
  text-align: center;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}
#mainContacto #formularioContactoId .cajaMsj .contactoSelect .opcion {
  color: #ff13a7;
  font-weight: bold;
  text-align: left;
}
#mainContacto #formularioContactoId .cajaMsj .contactoSelect:hover {
  cursor: pointer;
}
#mainContacto #formularioContactoId .cajaMsj h5 {
  font-size: 15px;
  margin: 5px;
}
#mainContacto #formularioContactoId .cajaMsj .textoConsulta {
  padding: 10px;
  width: 720px;
  height: 100px;
}
#mainContacto #formularioContactoId .cajaMsj #boton {
  text-align: right;
  font-size: 20px;
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #000000;
  color: white;
  margin: 10px;
  border-radius: 10px;
}
#mainContacto #formularioContactoId .cajaMsj #boton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
#mainContacto #formularioContactoId .checkContacto {
  display: flex;
}
#mainContacto #formularioContactoId .checkContacto h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin: 5px;
}

#mainRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mainRedes h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  margin: 10px;
  text-shadow: #ff13a7 2px 2px 2px;
  letter-spacing: 0.1em;
}
#mainRedes h2 {
  text-shadow: whitesmoke 2px 2px 5px;
  font-size: 25px;
  letter-spacing: -0.05em;
  font-family: "Cedarville Cursive", cursive;
}
#mainRedes .redesSociales {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#mainRedes .redesSociales p {
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 95px;
}
#mainRedes .redesSociales img {
  width: 70px;
  height: 70px;
  margin: 10px;
}
#mainRedes .redesSociales .wp,
#mainRedes .redesSociales .ig {
  width: 400px;
  padding: 20px;
  display: flex;
  font-size: 15px;
}
#mainRedes .redesSociales .wp input,
#mainRedes .redesSociales .ig input {
  background-color: #000000;
  color: white;
  padding: 10px;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 10px;
}
#mainRedes .redesSociales .wp input:hover,
#mainRedes .redesSociales .ig input:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.mainStock h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  margin: 10px;
  text-shadow: #ff13a7 2px 2px 2px;
  letter-spacing: 0.1em;
}
.mainStock #contenedorStock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cardPerfumes {
  margin-top: 10px;
  padding: 1.3rem;
  width: 260px;
  height: 420px;
  border: 1px solid #777;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: white;
}
.cardPerfumes h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-transform: capitalize;
}
.cardPerfumes p {
  height: 10px;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cardPerfumes img {
  height: 180px;
  margin-bottom: 5px;
}
.cardPerfumes .btnAgregar {
  background-color: #ff13a7;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
  border-radius: 5px;
  width: 120px;
  margin-top: 40px;
}
.cardPerfumes .btnAgregar:hover {
  background-color: #E4E4E4;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  margin: 10px;
  text-shadow: #ff13a7 2px 2px 2px;
  letter-spacing: 0.1em;
}

#titleCarrito {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  margin: 10px;
  text-shadow: #ff13a7 2px 2px 2px;
  letter-spacing: 0.1em;
}

/*# sourceMappingURL=style.css.map */
