 
#mainMasculino {
    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 10px;
        margin: 10px;
        text-shadow: #ff13a7 2px 2px 2px;
        letter-spacing: 0.1em;
    }
}

#tablaStockMasculino {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas:
        "pacoRabannePh pacoRabanneOM pacoRabanneXSL pacoRabanneXS pacoRabannePURE diorFHT diorSAUV"
        "muglerAMEN miyake tommy calvinKleinONE kenzo poloBlue azzaro"
        "ch212CLA chVIP chBB creed ombre eros jeans"
        "armaniYOU armaniACQUA armaniCODE bvPourHomme vacio vacio vacio"
    ;
    margin: 20px;

    .caja {
        background-color: #ffffff;
        border: #000000 solid 2px;
        padding: 10px;
        width: 150px;
        align-items: center;
        text-align: center;
        justify-content: center;

        h2 {
            background-color: #ff13a7;
            padding: 5px;
            border: #000000 solid 2px;
            font-size: 15px;
            height: 60px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        h3 {
            background-color: #ffffff;
            padding: 5px;
            font-size: 13px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        h4 {
            font-size: 11px;
            margin-top: 5px;
        }

        .imgCaja {
            width: 120px;
            height: 130px;
        }
    }

    .pacoRabannePh {
        grid-area: pacoRabannePh;
    }

    .pacoRabanneOM {
        grid-area: pacoRabanneOM;
    }

    .pacoRabanneXSL {
        grid-area: pacoRabanneXSL;
    }

    .pacoRabannXS {
        grid-area: pacoRabanneXS;
    }

    .pacoRabannePURE {
        grid-area: pacoRabannePURE;
    }

    .diorFHT {
        grid-area: diorFHT;
    }

    .diorSAUV {
        grid-area: diorSAUV;
    }

    .azzaro {
        grid-area: azzaro;
    }

    .muglerAMEN {
        grid-area: muglerAMEN;
    }

    .miyake {
        grid-area: miyake;
    }

    .tommy {
        grid-area: tommy;
    }

    .calvinKleinONE {
        grid-area: calvinKleinONE;
    }

    .kenzo {
        grid-area: kenzo;
    }
    .poloBlue{
        grid-area: poloBlue;
    }
    .chBB {
        grid-area: chBB;
    }

    .ch212CLA {
        grid-area: ch212CLA;
    }

    .chVIP {
        grid-area: chVIP;
    }
    .creed {
        grid-area: creed;
    }
    .ombre {
        grid-area: ombre;
    }
    .eros {
        grid-area: eros;
    }
    .jeans {
        grid-area: jeans;
    }
    .bvPourHomme {
        grid-area: bvPourHomme;
    }

    .armaniACQUA {
        grid-area: armaniACQUA;
    }

    .armaniCODE {
        grid-area: armaniCODE;
    }

    .armaniYOU {
        grid-area: armaniYOU;
    }


}